/* style.css */

* {
    background-color: lightblue;
    font-family: Arial, "Times New Roman", sans-serif;
}
h1 {
    text-align: center;
    color: purple;
}
h2 {
    color: purple;
}
h3 {
    color: purple;
}
a {
    color: green;
}
p {
    color: purple;
}
li {
    color: green;
} 
.credits {
    font-size: 16px;
}
.another {
    color: purple;
    font-size: 18px;
}