/* style.css */

html {
    display: inline-block;
    font-family: Arial, "Times New Roman", sans-serif;
    padding: 10px;
    margin: 10px;
}
body {
    background-color: grey;
    width: 600px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: purple;
}
h2, h3 {
    color: purple;
}
p {
    background-color: green;
    color: whitesmoke;
    border: 2px solid purple;
    padding: 6px;
}
li, a {
    color: whitesmoke;
    padding: 2px;
}
img {
    border: solid 2px purple;
}
.hlight {
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
    padding: 6px;
    margin: 4px;
    background-color: green;
    border: 2px solid purple;
}